@import "./tools/colors.less";
@import "./tools/mixins.less";

form {
  .flexCenter();
  flex-direction: column;
  min-width: 300px
}

form * {
  margin-top: 0.5em;
}

input {
  background-color: transparent;
  border: 1px solid @primary-text-color;
  border-radius: 5px;
  caret-color: @accent-color;
  color: @accent-color;
  text-align: center;
  max-width: 50px;
}

textarea:focus,
input:focus {
  outline: none;
}

.form-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 250px;
}

input {
    width: 100px;
}
