@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
}
input {
  background-color: transparent;
  border: 1px solid #fdfffc;
  border-radius: 5px;
  caret-color: #8ac926;
  color: #8ac926;
  text-align: center;
  width: 7em;
  font: inherit;
  margin: 0.75em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label {
  text-align: start;
}
.money-data input {
  width: 5em;
  margin: 0;
}
textarea:focus,
input:focus {
  outline: none;
}
.form-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 18em;
  margin-bottom: 1em;
}
form button {
  margin: 1em;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
  justify-content: space-between;
  background-color: #8ac926;
  min-height: 6vh;
}
.brand-title {
  margin: 0.5em 1em;
}
.brand-title img {
  width: 50px;
}
@media screen and (max-width: 480px) {
  .brand-title img {
    width: 35px;
  }
}
.brand-title img:hover {
  opacity: 80%;
  transform: translateY(2px);
}
.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.nav-links li {
  list-style: none;
  margin: 1em;
}
.nav-links a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  transition: 200ms;
  color: #353535;
  font-weight: 500;
}
.nav-links li:hover {
  opacity: 80%;
  transform: translateY(2px);
}
.nav-icon {
  width: 15px;
}
.burger {
  display: none;
  cursor: pointer;
  margin: 0 1em;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fdfffc;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    background: #8ac926;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    margin: 2rem;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #353535;
  color: #fdfffc;
  text-align: center;
}
#main-content {
  padding: 6em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;
}
h1,
h2,
h3 {
  font-weight: 500;
  margin-top: 0;
}
body {
  font-size: 1.25em;
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 1.125em;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 0.775em;
  }
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: #8ac926;
  font-weight: 600;
}
span {
  color: #8ac926;
}
button {
  border: 1px solid #fdfffc;
  border-radius: 3px;
  padding: 0.5em 0.75em;
  font-style: inherit;
  background: linear-gradient(to right, #8ac926 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.25s ease-out;
  color: #fdfffc;
  cursor: pointer;
  font: inherit;
}
button:hover {
  background-position: left bottom;
  color: #353535;
}
.citation {
  font-size: 0.75em;
}
.start-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-buttons button {
  margin: 0 0.5rem;
}
